ui:
  ssl: {{ ssl_enabled_client }}
  host: {{ ip_client }}
  port: {{ client_port }}
  nameSpace: {{ ui_namespace }}

rest:
  ssl: {{ ssl_enabled_server }}
  host: {{ public_server_host }}
  port: {{ public_server_port }}
  nameSpace: {{ server_namespace }}

info:
  # Whether the end user agreement is required before users may use the repository.
  # If enabled, the user will be required to accept the agreement before they can use the repository.
  # If disabled, the page will not exist and no agreement is required to use the repository
  enableEndUserAgreement: false
  # Whether the privacy statement should exist or not.
  enablePrivacyStatement: false
# Submission settings
submission:
  autosave:
    # NOTE: which metadata trigger an autosave
    metadata: ['dc.title', 'dc.type', 'dc.relation.doi']
    # NOTE: after how many time (milliseconds) submission is saved automatically
    # eg. timer: 5 * (1000 * 60); // 5 minutes
    timer: 1 * (1000 * 60)
# Whether to enable Markdown (https://commonmark.org/) and MathJax (https://www.mathjax.org/)
# display in supported metadata fields. By default, only dc.description.abstract is supported.
markdown:
  enabled: true
  mathjax: false
# Theme Config
themes:
  - name: renate
    headTags:
      - tagName: link
        attributes:
          rel: icon
          href: assets/renate/images/favicons/favicon.ico
          sizes: any
      - tagName: link
        attributes:
          rel: icon
          href: assets/renate/images/favicons/favicon.svg
          type: image/svg+xml
      - tagName: link
        attributes:
          rel: apple-touch-icon
          href: assets/renate/images/favicons/apple-touch-icon.png
      - tagName: link
        attributes:
          rel: manifest
          href: assets/renate/images/favicons/manifest.webmanifest
